{% load static %}

<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/dist/jobseeker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <link rel="icon" href="https://images.cnblogs.com/cnblogs_com/blogs/806686/galleries/2378007/o_240212131112_Icon.png">
    <link rel="stylesheet" href="{% static 'images/menu/icon/login.png' %}">
</head>

<body>
    <!-- 最外层的大盒子 -->
    <div class="box">
        <!-- 滑动盒子 -->
        <div class="pre-box">
            <h1>WELCOME</h1>
            <p>JOIN US!</p>
            <div class="img-box">
                <img src="{% static 'images/menu/icon/regiestor.jpg' %}" alt="">
            </div>
        </div>
        <div class="register-form">
            <div class="title-box">
                <h1>注册</h1>
            </div>
            <div class="input-box">
                <input type="text" id="register_id" placeholder="用户名">
                <input type="password" id="register_password" placeholder="密码">
                <input type="password" id="register_repassword" placeholder="确认密码">
            </div>
            <div class="btn-box">
                <button onclick="register()">注册</button>
                <p onclick="mySwitch()">已有账号?去登录</p>
            </div>
        </div>
        <div class="login-form">
            <div class="title-box">
                <h1>登录</h1>
            </div>
            <div class="input-box">
                <input type="text" id="login_id" placeholder="用户名">
                <input type="password" id="login_password" placeholder="密码">
            </div>
            <div class="btn-box">
                <button onclick="change()">登录</button>
                <p onclick="mySwitch()">没有账号?去注册</p>
            </div>
        </div>
    </div>
    <script>
        let flag = true

        const register = () => {
            var username = document.getElementById("register_id").value;
            var password = document.getElementById("register_password").value;
            var password_confirm = document.getElementById("register_repassword").value;

            $.ajax({
                url: "http://124.220.162.220:8000/settings/register/",
                type: "GET",
                data: {
                    username: username,
                    password: password,
                    password_confirm: password_confirm,
                },
                success: function(resp){
                    if (resp.result === "success") {
                        mySwitch();
                    } else{
                        alert(resp.result);
                    }
                }
            });
        }

        const check_login = (callback) => {
            var username = document.getElementById("login_id").value;
            var password = document.getElementById("login_password").value;

            $.ajax({
                url: "http://124.220.162.220:8000/settings/login/",
                type: "GET",
                data: {
                    username: username,
                    password: password,
                },
                success: function(resp) {
                    if (resp.result === "success" ) {
                        callback(true);
                    } else {
                        alert(resp.result);
                        callback(false);
                    }
                }
            });

        }

        const change = () => {
            check_login((isSuccessful) => {
                if (isSuccessful) {
                window.location.href = "https://www.cnblogs.com/DHxlx";
                }
            });
        };

        const mySwitch = () => {
            if (flag) {
                $(".pre-box").css("transform", "translateX(100%)")
                $(".pre-box").css("background-color", "rgb(173,208,216)")
                $("img").attr("src", "{% static 'images/menu/icon/login.png' %}")
            }
            else {
                $(".pre-box").css("transform", "translateX(0%)")
                $(".pre-box").css("background-color", "rgb(224,223,181)")
                $("img").attr("src", "{% static 'images/menu/icon/regiestor.jpg' %}")
            }
            document.getElementById("register_id").value = "";
            document.getElementById("register_password").value = "";
            document.getElementById("register_repassword").value = "";
            document.getElementById("login_id").value = "";
            document.getElementById("login_password").value = "";
            flag = !flag;
        }
    </script>
    <script>
        const bubleCreate = () => {
            // 获取body元素
            const body = document.body
            // 创建泡泡元素
            const buble = document.createElement('span')
            // 设置泡泡半径
            let r = Math.random() * 5 + 25 //半径大小为25~30
            // 设置泡泡的宽高
            buble.style.width = r + 'px'
            buble.style.height = r + 'px'
            // 设置泡泡的随机起点
            buble.style.left = Math.random() * innerWidth + 'px'
            // 为body添加buble元素
            body.append(buble)
            // 4s清除一次泡泡
            setTimeout(() => {
                buble.remove()
            }, 4000)
        }
        // 每200ms生成一个泡泡
        setInterval(() => {
            bubleCreate()
        }, 200);
    </script>
</body>

</html>
